[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
argparse = "*"
pip = "*"
install = "*"
imutils = "*"
keras = "*"
opencv-python = "*"
tensorflow = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
